$white: #fff;
$grey100: #292929;
$grey200: #313131;
$grey300: #414141;
$blue: #3554c2;

#root {
  font-size: 12px;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

.app {
  height: 100%;
  background-color: $grey100;
  color: $white;
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: $grey200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__list {
    height: 100%;
    padding: 0 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  &__message {
    display: flex;
    padding: 0.5rem 0;
    &--sent {
      flex-direction: row-reverse;
      align-self: flex-end;
    }
    &--received {
      flex-direction: row;
      align-self: flex-start;
    }
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  &__text-container {
    border-radius: 32px;
    padding: 1rem;
    max-width: 300px;
    &--sent {
      margin-right: 1rem;
      background-color: $blue;
    }
    &--received {
      margin-left: 1rem;
      background-color: $grey200;
    }
  }
  &__text {
    word-break: break-all;
  }
  &__timestamp {
  }
  &__form {
    width: 100%;
    display: flex;
    padding: 1rem;
    &__input {
      min-width: 0;
      color: $white;
      flex-grow: 1;
      font-size: 1rem;
      padding: 1rem;
      border: none;
      border-radius: 32px;
      margin-right: 1rem;
      background-color: $grey300;
    }
  }
}

.button {
  margin: 0;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 32px;
  min-width: 6rem;
  background-color: $blue;
  color: $white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:disabled {
    background-color: $grey200;
    cursor: default;
  }
}

.sign-in-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
