$white: #fff;
$grey100: #292929;
$grey200: #313131;
$grey300: #414141;
$grey400: #ccc;
$blue: #3554c2;

#root {
  font-size: 12px;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

.app {
  height: 100%;
  background-color: $grey100;
  color: $white;
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: $grey200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat {
  height: 80vh;
  display: flex;
  flex-direction: column;
  &__list {
    height: 100%;
    padding: 0 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  &__message {
    display: flex;
    padding: 0.5rem 0;
    &--sent {
      flex-direction: row-reverse;
      align-self: flex-end;
    }
    &--received {
      flex-direction: row;
      align-self: flex-start;
    }
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  &__message-container {
    &--sent {
      margin-right: 1rem;
      text-align: right;
    }
    &--received {
      margin-left: 1rem;
      text-align: left;
    }
  }
  &__timestamp {
    color: $grey400;
    font-size: 0.6rem;
    margin: 0 5px 3px 5px;
    text-transform: uppercase;
  }
  &__text-container {
    padding: 0.75rem 1.25rem;
    max-width: 300px;
    width: fit-content;
    &--sent {
      border-radius: 32px 4px 32px 32px;
      background-color: $blue;
      margin-left: auto;
    }
    &--received {
      border-radius: 4px 32px 32px 32px;
      background-color: $grey200;
      margin-right: auto;
    }
  }
  &__name {
    color: $grey400;
    font-size: 0.7rem;
    margin-bottom: 3px;
    text-transform: uppercase;
  }
  &__text {
    word-break: break-all;
  }
  &__form {
    width: 100%;
    display: flex;
    padding: 1rem;
    &__input {
      min-width: 0;
      color: $white;
      flex: 1;
      font-size: 1rem;
      padding: 1rem;
      border: none;
      border-radius: 32px;
      margin-right: 1rem;
      background-color: $grey300;
      &:disabled {
        background-color: $grey200;
        cursor: default;
      }
    }
  }
}

.button {
  margin: 0;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 32px;
  min-width: 6rem;
  background-color: $blue;
  color: $white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:disabled {
    background-color: $grey200;
    cursor: default;
  }
}

.list {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 50px));
  place-items: center;
  width: 140px;
  &__item {
    cursor: pointer;
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $grey200;
    color: $white;
    object-fit: cover;
  }
}

.main-wrapper {
  display: flex;
  &__chat {
    flex: 1;
  }
}

.sign-in-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
